* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App h1 {
    text-align: center;
    margin-top: 30px;
}
.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-bar {
    width: 60%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input {
    height: 50px;
    border: 1px solid #f86868;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
}
.search-bar input:focus {
    outline: 0;
}
.search-btn {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(67, 0, 130);
    color: #ffffff;
    margin-left: -1px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.temp-converter {
    height: 50px;
    background-color: blueviolet;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 16px;
    cursor: pointer;
}
.current-weather {
    width: 100%;
    margin-bottom: 30px;
}
.forecast-weather {
    width: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
}
 
table tr {
    width: 100%;
}
table tr th {
    background-color: #fdcaca;
}
table tr th, table tr td{
    padding: 12px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #ededed;
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    .temp-converter {
        position: relative;
        width: 100%;
    }
    .search-bar {
        margin-top: 30px;
        width: 100%;
    }
        .current-weather {
            overflow-x: auto;
        }
        .forecast-weather {
            overflow-x: auto;
        }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .current-weather {
            overflow-x: auto;
        }
    
        .forecast-weather {
            overflow-x: auto;
        }
                .temp-converter {
                    position: relative;
                  
                }
                .search-bar {
                    width: 100%;
                    margin-top: 30px;
                }
}